body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200; }

pre {
  border-radius: 0;
  border: 0; }

@media (min-width: 768px) {
  .navbar-static-top {
    width: 100%;
    position: fixed; } }

@media (min-width: 768px) {
  #page-wrapper {
    padding-top: 40px; } }

@media (min-width: 768px) {
  .sidebar {
    overflow: auto;
    position: fixed; } }

.navbar {
  background-color: #2c3e50;
  border-bottom: 0; }

.navbar-default .navbar-brand {
  color: #fff !important; }

.navbar-top-links li a.dropdown-toggle {
  color: #fff; }
  .navbar-top-links li a.dropdown-toggle:hover {
    background-color: #34495e; }

.nav .open > a {
  background-color: #7f8c8d !important; }

.dropdown-menu > li > a {
  color: #2c3e50; }
  .dropdown-menu > li > a:hover {
    background-color: #f5f5f5; }

.navbar-default .navbar-toggle {
  background-color: transparent !important;
  border-radius: 0; }
  .navbar-default .navbar-toggle:hover {
    background-color: #34495e !important; }

#wrapper, #side-menu a {
  background-color: #fff; }

#page-wrapper {
  border-left-color: #ecf0f1; }

.sidebar {
  background-color: #fff; }

#side-menu li {
  border-bottom-color: #ecf0f1; }

#side-menu a {
  color: #2c3e50; }
  #side-menu a:hover {
    background-color: #ecf0f1; }

.page-header {
  border-color: #ecf0f1; }

.btn {
  border-radius: 0;
  border: 0 !important; }

.btn.btn-default {
  border: 1px solid #ecf0f1 !important; }
  .btn.btn-default:hover {
    background-color: #ecf0f1; }
.btn.btn-primary {
  background-color: #3498db; }
  .btn.btn-primary:hover {
    background-color: #1c9df3; }
.btn.btn-success {
  background-color: #2ecc71; }
  .btn.btn-success:hover {
    background-color: #15e56c; }
.btn.btn-info {
  background-color: #1abc9c; }
  .btn.btn-info:hover {
    background-color: #05d1a8; }
.btn.btn-warning {
  background-color: #e67e22; }
  .btn.btn-warning:hover {
    background-color: #ff7c09; }
.btn.btn-danger {
  background-color: #e74c3c; }
  .btn.btn-danger:hover {
    background-color: #fd3826; }
.btn.btn-outline {
  background-color: #fff; }
  .btn.btn-outline.btn-primary {
    border: 1px solid #3498db !important; }
  .btn.btn-outline.btn-success {
    border: 1px solid #2ecc71 !important; }
  .btn.btn-outline.btn-info {
    border: 1px solid #1abc9c !important; }
  .btn.btn-outline.btn-warning {
    border: 1px solid #e67e22 !important; }
  .btn.btn-outline.btn-danger {
    border: 1px solid #e74c3c !important; }

.panel {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0; }
  .panel > .panel-heading {
    color: #fff;
    border-radius: 0;
    border-bottom: 0; }

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-width: 0; }

.panel-group .panel {
  border-radius: 0; }

.panel-footer {
  background-color: #fff;
  border-top: 0; }

.panel-default {
  border-color: #ecf0f1; }
  .panel-default > .panel-heading {
    color: #7f8c8d; }

.panel-primary {
  border-color: #3498db; }
  .panel-primary > .panel-heading {
    background-color: #3498db; }
  .panel-primary .panel-footer {
    color: #3498db; }
  .panel-primary a:hover > .panel-footer {
    color: #217dbb; }

.panel-success {
  border-color: #2ecc71; }
  .panel-success > .panel-heading {
    background-color: #2ecc71; }
  .panel-success .panel-footer {
    color: #2ecc71; }
  .panel-success a:hover > .panel-footer {
    color: #25a259; }

.panel-info {
  border-color: #1abc9c; }
  .panel-info > .panel-heading {
    background-color: #1abc9c; }
  .panel-info .panel-footer {
    color: #1abc9c; }
  .panel-info a:hover > .panel-footer {
    color: #148f77; }

.panel-warning {
  border-color: #e67e22; }
  .panel-warning > .panel-heading {
    background-color: #e67e22; }
  .panel-warning .panel-footer {
    color: #e67e22; }
  .panel-warning a:hover > .panel-footer {
    color: #bf6516; }

.panel-danger {
  border-color: #e74c3c; }
  .panel-danger > .panel-heading {
    background-color: #e74c3c; }
  .panel-danger .panel-footer {
    color: #e74c3c; }
  .panel-danger a:hover > .panel-footer {
    color: #d62a1a; }

.well {
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #e0e0e0; }

.jumbotron {
  background-color: #f5f5f5; }

.nav-tabs > li > a, .nav-pills > li > a {
  border-radius: 0; }
  .nav-tabs > li > a:hover, .nav-pills > li > a:hover {
    background-color: #f5f5f5; }

.progress {
  background-color: #ecf0f1;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.progress-bar {
  background-color: #3498db;
  -webkit-box-shadow: none;
          box-shadow: none; }

.progress-bar-success {
  background-color: #2ecc71; }

.progress-bar-info {
  background-color: #1abc9c; }

.progress-bar-warning {
  background-color: #e67e22; }

.progress-bar-danger {
  background-color: #e74c3c; }

.alert {
  border-radius: 0;
  border: 0; }

.alert-success {
  background-color: #d1f5e0; }

.alert-info {
  background-color: #e1f0fa; }

.alert-warning {
  background-color: #fcf3d0; }

.alert-danger {
  background-color: #fdf3f2; }

.modal-content {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0; }

.form-control, .input-group-addon {
  border-radius: 0;
  border-color: #ecf0f1; }
  .has-success .form-control, .has-success .input-group-addon {
    border-color: #2ecc71; }
  .has-warning .form-control, .has-warning .input-group-addon {
    border-color: #e67e22; }
  .has-error .form-control, .has-error .input-group-addon {
    border-color: #e74c3c; }

.form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }
  .form-control:focus {
    border-color: #3498db; }

.input-group-addon {
  background-color: #f5f5f5; }

.has-success .control-label {
  color: #2ecc71; }
.has-warning .control-label {
  color: #e67e22; }
.has-error .control-label {
  color: #e74c3c; }

.popover {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.list-group-item {
  border-radius: 0 !important;
  border-color: #ecf0f1; }

.timeline > li > .timeline-panel {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ecf0f1; }

.dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.timeline-badge {
  background-color: #bdc3c7 !important; }

.badge-primary, .timeline-badge.primary {
  background-color: #3498db !important; }

.badge-success, .timeline-badge.success {
  background-color: #2ecc71 !important; }

.badge-info, .timeline-badge.info {
  background-color: #1abc9c !important; }

.badge-warning, .timeline-badge.warning {
  background-color: #e67e22 !important; }

.badge-danger, .timeline-badge.danger {
  background-color: #e74c3c !important; }

.pagination {
  border-radius: 0; }

.pagination > li > a {
  color: #3498db;
  border-radius: 0 !important; }

.pagination > .active > a {
  background-color: #3498db; }

.text-muted {
  color: #95a5a6; }

.text-primary {
  color: #3498db; }

.text-success {
  color: #2ecc71; }

.text-info {
  color: #1abc9c; }

.text-warning {
  color: #e67e22; }

.text-danger {
  color: #e74c3c; }
