.btn {
	border-radius: 0;
	// box-sizing: border-box;
	border: 0 !important;
}


.btn {
	&.btn-default {
		border: 1px solid $color-grey-4 !important;

		&:hover {
			background-color: $color-grey-4;
		}
	}

	&.btn-primary {
		background-color: $color-blue;

		&:hover {
			background-color: saturate($color-blue, 20%);
		}
	}

	&.btn-success {
		background-color: $color-green;

		&:hover {
			background-color: saturate($color-green, 20%);
		}
	}

	&.btn-info {
		background-color: $color-cyan;

		&:hover {
			background-color: saturate($color-cyan, 20%);
		}
	}

	&.btn-warning {
		background-color: $color-orange;

		&:hover {
			background-color: saturate($color-orange, 20%);
		}
	}

	&.btn-danger {
		background-color: $color-red;

		&:hover {
			background-color: saturate($color-red, 20%);
		}
	}

	&.btn-outline {
		background-color: #fff;

		&.btn-primary {
			border: 1px solid $color-blue !important;
		}

		&.btn-success {
			border: 1px solid $color-green !important;
		}

		&.btn-info {
			border: 1px solid $color-cyan !important;
		}

		&.btn-warning {
			border: 1px solid $color-orange !important;
		}

		&.btn-danger {
			border: 1px solid $color-red !important;
		}
	}
}