$color-red: #e74c3c;
$color-orange: #e67e22;
$color-yellow: #f1c40f;
$color-green: #2ecc71;
$color-cyan: #1abc9c;
$color-blue: #3498db;
$color-violet: #9b59b6;
$color-brown: #be643c;

$color-grey-1: #bdc3c7;
$color-grey-2: #e0e0e0;
$color-grey-3: #f5f5f5;
$color-grey-4: #ecf0f1;

$color-dark-grey-1: #2c3e50;
$color-dark-grey-2: #34495e;
$color-dark-grey-3: #7f8c8d;
$color-dark-grey-4: #95a5a6;

$color-dark-grey: $color-dark-grey-3;
$color-light-grey: $color-dark-grey-4;

$color-dark-navy: $color-dark-grey-1;
$color-light-navy: $color-dark-grey-2;

$color-navy: $color-light-navy;