// fixed top-panel & sidebar

.navbar-static-top {
	@media (min-width: 768px) {
		width: 100%;
		position: fixed;
	}
}

#page-wrapper {
	@media (min-width: 768px) {
		padding-top: 80px;
	}
}

.sidebar {
	@media (min-width: 768px) {
		margin-top: 50px;
		overflow: hidden;
		position: fixed;
	}
}

.navbar-header-logo-area {
	@media (min-width: 768px) {
		width: 250px;
	}
}

// top-panel

.navbar {
	// background-color: hsl(0, 0, 25%);
	// background-color: $color-dark-grey-1;
	background-color: $color-blue;
	// box-shadow: 0 1px 3px #000;
	border-bottom: 0;
}

.navbar-default .navbar-brand {
	color: #fff !important;
	font-weight: 300;
	text-transform: uppercase;
}

.navbar-top-links li a.dropdown-toggle {
	background-color: transparent !important;
	color: #fff;
	padding-left: 9px;
	padding-right: 9px;
	position: relative;
	z-index: 1;

	&:hover {
		background-color: $color-dark-grey-2 !important;
	}

	.badge-number {
		font-style: normal;
		position: absolute;
		z-index: 20;
		right: 0;
		top: 8px;
	}
}

.nav .open > a {
	background-color: $color-dark-grey-3 !important;
}

.dropdown-menu > li > a {
	color: $color-dark-grey-1;

	&:hover {
		background-color: $color-grey-3;
	}
}

//

.navbar-default .navbar-toggle {
	background-color: transparent !important;
	border-radius: 0;

	&:hover {
		background-color: $color-dark-grey-2 !important;
	}
}

//

#wrapper,
#side-menu a,
.sidebar {
	background-color: #fff;
}

.sidebar {
	box-shadow: 1px 0 3px $color-dark-grey;
}

#page-wrapper {
	background-color: $color-grey-3;
	// border-left-color: red;
	border: 0;
}

#side-menu li {
	border: 0;
	// border-bottom-color: red;
}

#side-menu a {
	// color: hsl(0, 0, 25%);
	// color: $color-dark-grey-1;
	color: $color-dark-grey;

	&:hover {
		background-color: $color-grey-4;
		background-color: #fbfbfb;
	}
}

#side-menu >li > a {
	border-top: 1px solid $color-grey-4;

}

//

.navbar-header-logo-area {
	// background-color: $color-dark-navy;
	background-color: $color-blue;
	box-shadow: 1px 0 3px #000;
	// box-shadow: 1px 0 3px #fff;
	// border: 3px solid blue;
}


//

// .page-header {
// 	background-color: #fff;
// 	color: #000;
// 	box-shadow: 0 1px 3px $color-dark-grey;
// 	// border-color: $color-grey-2;
// 	border: 0;

// 	@media (min-width: 768px) {
// 		padding: 10px 30px;
// 		margin-left: -30px;
// 		margin-right: -30px;
// 		margin-top: 10px;
// 	}
// }

//

.main-breadcrumbs {
	li a {
		background-color: transparent !important;
		color: #fff;
		padding-left: 0;
		padding-right: 0;

		&:hover {
			// text-decoration: underline;
			// color: $color-grey-4;
			color: $color-dark-navy;
		}

		&:before {
			content: ' / ';
			color: #fff;
			font-weight: normal !important;
		}
	}

	li:first-child a {
		padding-left: 15px;

		&:before {
			content: none;
		}
	}

	li:last-child a {
		font-weight: bold;
	}

	@media (min-width: 768px) {
		li:first-child a {
			padding-left: 30px;
		}
	}
}

#page-wrapper > h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid $color-grey-2;
	margin-bottom: 30px;
}

//

.nav-profile-photo-link {
	padding-left: 5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	margin-left: 20px;
}

.nav-profile-photo {
	border-radius: 50%;
	height: 40px;
	margin-right: 5px;
}

.navbar-top-links li {
	vertical-align: top;
}

//

#side-menu {
	li {
		border-left: 5px solid $color-grey-4;
	}

	li a {
		&:focus {
			outline: 1px dotted $color-grey-1;
		}
	}

	li.current {
		> a {
			font-weight: bold;
		}
	}

	> li {
		> a {
			padding-left: 10px;
		}

		&.current {
			border-left-color: $color-blue;

			> a {
				background-color: lighten($color-blue, 40%);
				color: $color-blue;
			}
		}
	}

	.nav-second-level > li {
		border-left-color: $color-grey-2;

		> a {
			padding-left: 26px;
		}

		&.current {
			border-left-color: $color-green;

			> a {
				background-color: lighten($color-green, 40%);
				color: $color-green;

			}
		}
	}

	.nav-third-level > li {
		// border-left-color: $color-grey-1;

		> a {
			// padding-left: 52px - 5px;
			padding-left: 21px;
		}

		&.current  {
			border-left-color: $color-red;

			> a {
				background-color: lighten($color-red, 40%);
				color: $color-red;
			}
		}
	}

	.nav-second-level,
	.nav-third-level {
		> li > a {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

//

.dropdown-messages {
	font-size: 12px;
	padding: 0 !important;

	.divider {
		margin: 0;
	}

	.message-item {
		// border-top: 1px solid red;
		padding: 5px !important;
	}

	.message-link {
		padding: 0 !important;
		// display: block;
		display: table;
		clear: both;
	}

	.message-link > * {

		// float: left;
		// display: inline-block;
		// vertical-align: top;
		display: table-cell;
		vertical-align: top;
	}

	.message-avatar {
		// width: 15%;
		text-align: center;

		img {
			border-radius: 50%;
			display: inline-block;
		}
	}

	.message {
		// padding: 0 5px;
		// width: 85%;
		padding-left: 5px;
		width: 100%;
	}

	.message-sender,
	.message-time {
		display: inline-block;
	}

	.message-sender {

	}

	.message-time {
		font-weight: 300;
		font-style: italic;
		float: right;
	}

	.message-body {
		font-weight: 300;
		margin-top: 5px;

	}
}

//

.dropdown-tasks {
	font-size: 12px;
	padding: 0;

	.divider {
		margin: 0;
	}

	.task-item {
		padding: 5px !important;
	}

	.task-link {
		padding: 0 !important;
		display: block;
	}

	.task-header {
		margin-bottom: 5px;
	}

	.task-title {
		font-weight: normal;
	}

	.progress {
		margin: 0;
	}
}

//

.dropdown-alerts {
	font-size: 12px;
	padding: 0;

	.divider {
		margin: 0;
	}

	.alert-item {
		padding: 5px !important;
	}

	.alert-link {
		padding: 0 !important;
		display: block;
	}
}

//

.sidebar {
	.nano-pane,
	.nano-pane .nano-slider {
		border-radius: 0;

	}

	.nano-pane {
		background-color: rgba(0, 0, 0, 0.1);
		width: 5px;
	}

	.nano-pane .nano-slider {
		background-color: rgba(0, 0, 0, 0.2);
		margin: 0;
	}
}