.font-awesome-row {
	.fa-hover {
		// border: 1px solid red;
	}

	.fa {
		font-size: 24px;
		width: 32px;
		height: 32px;
	}

	.icon-class {
		font-family: monospace;
		font-size: 10px;
	}
}

//

.bs-glyphicons-list {
	li {
		display: inline-block;
		vertical-align: top;
		padding: 5px;
		width: 24%;
		// border: 1px solid $color-grey-1;
	}

	.glyphicon {
		font-size: 24px;
		vertical-align: middle;
		margin-right: 5px;
	}

	.glyphicon-class {
		font-family: monospace;
		font-size: 10px;
	}
}

//

hr.wide {
	margin-left: -15px;
	margin-right: -15px;
}

//

.dib {
	display: inline-block;
}

//

.select2-choices {

}

.select2-container-multi .select2-choices .select2-search-choice {
	// background-color: red;
}

//

label.custom-checkfield-label {
	cursor: pointer;
	padding-left: 0;

	input {
		visibility: hidden;
		position: absolute;
		left: -9999px;
	}

	.custom-checkfield {
		background-color: #fff;
		width: 16px;
		height: 16px;
		border: 3px solid $color-blue;
		display: inline-block;
		vertical-align: middle;

		&.custom-checkfield-radio {
			border-radius: 50%;
		}
	}

	input:checked + .custom-checkfield {
		background-color: $color-blue;
	}

	&.success  {
		.custom-checkfield {border-color: $color-green}
		input:checked + .custom-checkfield {background-color: $color-green;}
	}

	&.info  {
		.custom-checkfield {border-color: $color-cyan}
		input:checked + .custom-checkfield {background-color: $color-cyan;}
	}

	&.warning  {
		.custom-checkfield {border-color: $color-orange}
		input:checked + .custom-checkfield {background-color: $color-orange;}
	}

	&.danger  {
		.custom-checkfield {border-color: $color-red}
		input:checked + .custom-checkfield {background-color: $color-red;}
	}

	input:disabled + .custom-checkfield {
		border-color: $color-light-grey;
	}

	input:disabled:checked + .custom-checkfield {
		background-color: $color-light-grey;
	}
}

//

label.custom-switch-label {
	background-color: $color-blue;
	width: 32px;
	height: 16px + 2 * 3px;
	border: 3px solid $color-blue;
	display: inline-block;
	position: relative;

	input {
		visibility: hidden;
		position: absolute;
		left: -9999px;
	}

	.custom-switch {
		background-color: #fff;
		width: 50%;
		height: 100%;
		display: inline-block;
		position: absolute;
		left: 0;
	}

	input:checked .custom-switch {
		right: 0;
		width: 100px
	}
}

//

.single-window {
	margin-top: 25%;
}