.media-widget-1 {
	background-color: #fff;
	box-shadow: 0 1px 2px $color-grey-4;
	border-radius: 3px;
	padding: 15px;
	width: 100%;
	margin-bottom: 20px;
	display: table;

	&.sharp {
		border-radius: 0;
	}

	.media-widget-icon-container,
	.media-widget-content-area {
		vertical-align: middle;
		display: table-cell;
	}

	.media-widget-icon-container {

	}

	.media-widget-icon {
		background-color: $color-blue;
		color: #fff;
		border-radius: 50%;
		padding: 15px;
		width: 80px;
		height: 80px;
		font-size: 48px;
	}

	&.media-widget-success .media-widget-icon {background-color: $color-green;}
	&.media-widget-info .media-widget-icon {background-color: $color-cyan;}
	&.media-widget-warning .media-widget-icon {background-color: $color-orange;}
	&.media-widget-danger .media-widget-icon {background-color: $color-red;}
	&.media-widget-yellow .media-widget-icon {background-color: $color-yellow;}
	&.media-widget-violet .media-widget-icon {background-color: $color-violet;}
	&.media-widget-brown .media-widget-icon {background-color: $color-brown;}
	&.media-widget-navy .media-widget-icon {background-color: $color-navy;}

	.media-widget-content-area {
		padding-left: 15px;
		width: 100%;
	}

	.media-widget-value {
		font-size: 36px;
	}

	.media-widget-name {
		color: $color-light-grey;
		font-size: 16px;
	}
}