.bs-glyphicons-list {
	li {
		display: inline-block;
		vertical-align: top;
		padding: 5px;
		width: 24%;
		// border: 1px solid $color-grey-1;
	}

	.glyphicon {
		font-size: 24px;
		vertical-align: middle;
		margin-right: 5px;
	}

	.glyphicon-class {
		font-family: monospace;
		font-size: 10px;
	}
}