.bs-glyphicons-list {
  list-style: none;
  padding: 0;

  li {
    vertical-align: top;
    padding: 5px;

    @media (min-width: 480px) {
      width: 48%;
      display: inline-block;
    }

    @media (min-width: 768px) {
      width: 24%;
    }
  }

  .glyphicon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .glyphicon-class {
    font-family: monospace;
    font-size: 10px;
  }
}