.panel-group .panel + .panel {
	margin-top: 0;
}

.panel-group .panel {
	border-radius: 0;
	border: 1px solid $color-grey-1;
	margin-top: -1px;
}

.panel-group .panel .panel-heading {
	// background-color: ;
	border-bottom: 0;
	border-radius: 0;
	margin-top: -1px;
}

.panel-group .panel:first-child .panel-heading {
	border-top: 1px solid $color-grey-1;
}