.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-yellow,
.bg-violet,
.bg-brown,
.bg-navy {
	color: #fff;
}

.bg-primary {background-color: lighten($color-blue, 30%)}
.bg-success {background-color: lighten($color-green, 30%)}
.bg-info {background-color: lighten($color-cyan, 30%)}
.bg-warning {background-color: lighten($color-orange, 30%)}
.bg-danger {background-color: lighten($color-red, 30%)}
.bg-yellow {background-color: lighten($color-yellow, 30%)}
.bg-violet {background-color: lighten($color-violet, 30%)}
.bg-brown {background-color: lighten($color-brown, 30%)}
.bg-navy {background-color: lighten($color-navy, 30%)}

//

.bgc-blue {background-color: $color-blue !important;}
.bgc-green {background-color: $color-green !important;}
.bgc-cyan {background-color: $color-cyan !important;}
.bgc-orange {background-color: $color-orange !important;}
.bgc-red {background-color: $color-red !important;}
.bgc-yellow {background-color: $color-yellow !important;}
.bgc-violet {background-color: $color-violet !important;}
.bgc-brown {background-color: $color-brown !important;}
.bgc-navy {background-color: $color-navy !important;}