.btn {
	border: 0 !important;
}

.btn.sharp {
	border-radius: 0;
	border: 0 !important;
}

.btn.round {
	border-radius: 15px;
	border: 0 !important;
}

.btn.btn-xl {
	border-radius: 8px;
	font-size: 22px;
	padding: 16px 20px;
}

.btn {
	&.btn-default,
	.open > &.dropdown-toggle.btn-default {
		border: 1px solid $color-grey-4 !important;

		&:hover {
			background-color: $color-grey-4;
		}
	}

	&.btn-primary,
	.open > &.dropdown-toggle.btn-primary {
		background-color: $color-blue;

		&:hover {
			background-color: saturate($color-blue, 20%);
		}
	}

	&.btn-success,
	.open > &.dropdown-toggle.btn-success {
		background-color: $color-green;

		&:hover {
			background-color: saturate($color-green, 20%);
		}
	}

	&.btn-info,
	.open > &.dropdown-toggle.btn-info {
		background-color: $color-cyan;

		&:hover {
			background-color: saturate($color-cyan, 20%);
		}
	}

	&.btn-warning,
	.open > &.dropdown-toggle.btn-warning {
		background-color: $color-orange;

		&:hover {
			background-color: saturate($color-orange, 20%);
		}
	}

	&.btn-danger,
	.open > &.dropdown-toggle.btn-danger {
		background-color: $color-red;

		&:hover {
			background-color: saturate($color-red, 20%);
		}
	}

	&.btn-yellow,
	&.btn-violet,
	&.btn-brown,
	&.btn-navy {
		&, &:hover {
			color: #fff;
		}
	}

	&.btn-yellow {
		background-color: $color-yellow;

		&:hover {
			background-color: saturate($color-yellow, 20%);
		}
	}

	&.btn-violet {
		background-color: $color-violet;

		&:hover {
			background-color: saturate($color-violet, 20%);
		}
	}

	&.btn-brown {
		background-color: $color-brown;

		&:hover {
			background-color: saturate($color-brown, 20%);
		}
	}

	&.btn-navy {
		background-color: $color-navy;

		&:hover {
			background-color: saturate($color-navy, 20%);
		}
	}

	&.btn-outline {
		background-color: #fff;
		transition: none;
		border-width: 2px !important;

		&.btn-primary {
			color: $color-blue;
			border: 2px solid $color-blue !important;
		}

		&.btn-success {
			color: $color-green;
			border: 2px solid $color-green !important;
		}

		&.btn-info {
			color: $color-cyan;
			border: 2px solid $color-cyan !important;
		}

		&.btn-warning {
			color: $color-orange;
			border: 2px solid $color-orange !important;
		}

		&.btn-danger {
			color: $color-red;
			border: 2px solid $color-red !important;
		}

		&.btn-primary,
		&.btn-success,
		&.btn-info,
		&.btn-warning,
		&.btn-danger {
			&:hover {
				color: #fff;
			}
		}

		&:hover {
			&.btn-primary {background-color: $color-blue;}
			&.btn-success {background-color: $color-green;}
			&.btn-info {background-color: $color-cyan;}
			&.btn-warning {background-color: $color-orange;}
			&.btn-danger {background-color: $color-red;}
		}

		&.btn-yellow {
			color: $color-yellow;
			border: 2px solid $color-yellow !important;
		}

		&.btn-violet {
			color: $color-violet;
			border: 2px solid $color-violet !important;
		}

		&.btn-brown {
			color: $color-brown;
			border: 2px solid $color-brown !important;
		}

		&.btn-navy {
			color: $color-navy;
			border: 2px solid $color-navy !important;
		}

		&.btn-yellow,
		&.btn-violet,
		&.btn-brown,
		&.btn-navy {
			&:hover {
				color: #fff;
			}
		}
	}

	&.raised {
		transition: none;
		border-bottom: 3px solid !important;

		&.btn-default {
			border-color: darken($color-grey-4, 20%) !important;
		}

		&.btn-primary {
			border-color: darken($color-blue, 20%) !important;
		}

		&.btn-success {
			border-color: darken($color-green, 20%) !important;
		}

		&.btn-info {
			border-color: darken($color-cyan, 20%) !important;
		}

		&.btn-warning {
			border-color: darken($color-orange, 20%) !important;
		}

		&.btn-danger {
			border-color: darken($color-red, 20%) !important;
		}

		&.btn-yellow {
			border-color: darken($color-yellow, 20%) !important;
		}

		&.btn-violet {
			border-color: darken($color-violet, 20%) !important;
		}

		&.btn-brown {
			border-color: darken($color-brown, 20%) !important;
		}

		&.btn-navy {
			border-color: darken($color-navy, 20%) !important;
		}
	}

	&.gradient {
		&.btn-default {
			background: linear-gradient(to bottom, #fff 50%, lighten($color-grey-3, 3%) 50%);

			&:hover {
				background: #fff !important;
			}
		}

		&.btn-primary {
			background: linear-gradient(to bottom, lighten($color-blue, 10%) 50%, $color-blue 50%) !important;

			&:hover {
				background: $color-blue !important;
			}
		}

		&.btn-success {
			background: linear-gradient(to bottom, lighten($color-green, 10%) 50%, $color-green 50%) !important;

			&:hover {
				background: $color-green !important;
			}
		}

		&.btn-info {
			background: linear-gradient(to bottom, lighten($color-cyan, 10%) 50%, $color-cyan 50%) !important;

			&:hover {
				background: $color-cyan !important;
			}
		}

		&.btn-warning {
			background: linear-gradient(to bottom, lighten($color-orange, 10%) 50%, $color-orange 50%) !important;

			&:hover {
				background: $color-orange !important;
			}
		}

		&.btn-danger {
			background: linear-gradient(to bottom, lighten($color-red, 10%) 50%, $color-red 50%) !important;

			&:hover {
				background: $color-red !important;
			}
		}

		&.btn-yellow {
			background: linear-gradient(to bottom, lighten($color-yellow, 10%) 50%, $color-yellow 50%) !important;

			&:hover {
				background: $color-yellow !important;
			}
		}

		&.btn-violet {
			background: linear-gradient(to bottom, lighten($color-violet, 10%) 50%, $color-violet 50%) !important;

			&:hover {
				background: $color-violet !important;
			}
		}

		&.btn-brown {
			background: linear-gradient(to bottom, lighten($color-brown, 10%) 50%, $color-brown 50%) !important;

			&:hover {
				background: $color-brown !important;
			}
		}

		&.btn-navy {
			background: linear-gradient(to bottom, lighten($color-navy, 10%) 50%, $color-navy 50%) !important;

			&:hover {
				background: $color-navy !important;
			}
		}
	}
}