.compact-timeline {
  padding: 0 0 1px 0;
  margin-bottom: 40px;
  position: relative;
}

.compact-timeline:before {
  content: '';
  background-color: #fff;
  width: 2px;
  margin-left: -10px;
  position: absolute;
  left: 31px;
  top: 2px;
  bottom: 0;
}

.compact-timeline:after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 17px;
  bottom: -9px;
}

.compact-timeline li {
  list-style: none;
  margin-bottom: 25px;
  position: relative;

  &:last-child {
    margin-bottom: 50px;
  }
}

.compact-timeline li > .compact-timeline-icon {
  background: $color-blue;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px $color-grey-1;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  position: absolute;
  z-index: 2;
  left: 2px;
  top: 0;
}

.compact-timeline li > .compact-timeline-date {
  background: #fff;
  color: $color-light-grey;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 0 5px;
  width: 45px;
  display: block;
  position: absolute;
  top: 45px;
}

.compact-timeline li .compact-timeline-content {
  background: #fff;
  border-radius: 3px;
  line-height: 14px;
  padding: 10px;
  border: 1px solid $color-grey-2;
  margin-left: 75px;
  position: relative;
}

.compact-timeline li .compact-timeline-content:before {
  content: '';
  background: #fff;
  width: 10px;
  height: 10px;
  border-left: 1px solid $color-grey-2;
  border-bottom: 1px solid $color-grey-2;
  transform: rotate(45deg);
  position: absolute;
  left: -6px;
  top: 14px;
}

.compact-timeline li .compact-timeline-content p {
  margin: 0;
}

.compact-timeline li .compact-timeline-content .img-thumbnail {
  cursor: pointer;
  border-radius: 0;
  margin: 10px 5px 0 0;
}

.compact-timeline li .compact-timeline-content blockquote {
  margin: 10px 0 0 0;

  p {
    font-size: 14px;
    margin: 0 0 5px 0 !important;
  }
}
