.easy-pie-chart {
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 5px;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	.easy-pie-chart-value {
		display: inline-block;
		z-index: 2;
	}
}