.fuelux .wizard {
  box-shadow: none;

  > .steps {
    display: block;
  }

  > .steps li {
    border-radius: 0 !important;

    @media (max-width: 768px) {
      float: none;
      padding-left: 20px;
    }

    &.active {
      background-color: lighten($color-blue, 30%);

      .badge {
        background-color: $color-blue !important;
      }

      .chevron:before {
        border-left-color: lighten($color-blue, 30%);
      }
    }
  }

  > .actions {
    background-color: transparent;
    border-left: 0;
    position: static;
  }

  > .step-content {
    background-color: #fff;
  }
}