.label-primary { background-color: $color-blue !important; }
.label-success { background-color: $color-green !important; }
.label-info { background-color: $color-cyan !important; }
.label-warning { background-color: $color-orange !important; }
.label-danger { background-color: $color-red !important; }
.label-yellow { background-color: $color-yellow; }
.label-violet { background-color: $color-violet; }
.label-brown { background-color: $color-brown; }
.label-navy { background-color: $color-navy; }

.label.sharp {
  border-radius: 0;
}