.media-gallery-1 {
  text-align: center;

  .media-item {
    vertical-align: top;
    text-align: center;
    padding: 10px;
    display: inline-block;

    .media-image {
      border-radius: 50%;
      max-width: 50px;
      margin-right: 10px;
    }

    .media-title {
      margin: 0;
    }

    .media-desc {
      color: $color-grey-2;
    }
  }

  a.media-item {
    text-decoration: none;
    color: $color-light-grey;
  }
}