.panel {
	box-shadow: none;
	border-radius: 0;
	border: none;

	& > .panel-heading {
		color: #fff;
		border-radius: 0;
		border-bottom: 0;
	}
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-width: 0;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-footer {
	// background-color: $color-grey-4;
	background-color: #fff;
	border-top: 0;
}

.panel-default {
	// border-color: $color-grey-4;

	& > .panel-heading {
		background-color: #fff;
		border-bottom: 1px solid $color-grey-1;
	}

	& > .panel-heading {
		color: $color-dark-grey-3;
	}
}

.panel-primary {
	border-color: $color-blue;

	& > .panel-heading {
		background-color: $color-blue;
	}

	& .panel-footer {
		color: $color-blue;
	}

	& a:hover > .panel-footer {
		color: darken($color-blue, 10%);
	}
}

.panel-success {
	border-color: $color-green;

	& > .panel-heading {
		background-color: $color-green;
	}

	& .panel-footer {
		color: $color-green;
	}

	& a:hover > .panel-footer {
		color: darken($color-green, 10%);
	}
}

.panel-info {
	border-color: $color-cyan;

	& > .panel-heading {
		background-color: $color-cyan;
	}

	& .panel-footer {
		color: $color-cyan;
	}

	& a:hover > .panel-footer {
		color: darken($color-cyan, 10%);
	}
}

.panel-warning {
	border-color: $color-orange;

	& > .panel-heading {
		background-color: $color-orange;
	}

	& .panel-footer {
		color: $color-orange;
	}

	& a:hover > .panel-footer {
		color: darken($color-orange, 10%);
	}
}

.panel-danger {
	border-color: $color-red;

	& > .panel-heading {
		background-color: $color-red;
	}

	& .panel-footer {
		color: $color-red;
	}

	& a:hover > .panel-footer {
		color: darken($color-red, 10%);
	}
}