.progress {
  background-color: $color-grey-4;
  box-shadow: none;

  &.progress-xs {
    height: 5px;
  }

  &.progress-sm {
    height: 10px;
  }

  &.progress-lg {
    height: 25px;
  }

  &.progress-xl {
    height: 30px;
  }

  &.sharp {
    border-radius: 0;
  }
}

.progress-bar {
  background-color: $color-blue;
  box-shadow: none;
}

.progress-bar-success {background-color: $color-green;}
.progress-bar-info {background-color: $color-cyan;}
.progress-bar-warning {background-color: $color-orange;}
.progress-bar-danger {background-color: $color-red;}
.progress-bar-yellow {background-color: $color-yellow;}
.progress-bar-violet {background-color: $color-violet;}
.progress-bar-brown {background-color: $color-brown;}
.progress-bar-navy {background-color: $color-navy;}