.select2-container {
	* {
		box-shadow: none !important;
	}

	.select2-choice {
		background: #fff;
		border-color: $color-grey-4;

		.select2-arrow {
			background: $color-grey-4;
			border: 0;
		}
	}
}

//

.select2-container-multi {
	.select2-choices {
		background: #fff;
		border-color: $color-grey-4;

		.select2-search-choice {
			background: #fff;
			box-shadow: none;
			border-color: $color-grey-2;
			margin: 5px;
		}
	}
}