.text-muted {color: $color-dark-grey-4;}
.text-primary {color: $color-blue;}
.text-success {color: $color-green;}
.text-info {color: $color-cyan;}
.text-warning {color: $color-orange;}
.text-danger {color: $color-red;}
.text-yellow {color: $color-yellow;}
.text-violet {color: $color-violet;}
.text-brown {color: $color-brown;}
.text-navy {color: $color-navy;}