.text-muted {
	color: $color-dark-grey-4;
}

.text-primary {
	color: $color-blue;
}

.text-success {
	color: $color-green;
}

.text-info {
	color: $color-cyan;
}

.text-warning {
	color: $color-orange;
}

.text-danger {
	color: $color-red;
}